.container-hb{
    padding: 30px;
    .title-handbook{
        font-size: 26px;
        font-family: Merriweather-Bold;
        color: #333;
        line-height: 1.4;
        margin-bottom: 10px;
        text-align: center;
    }
    .content-news{
        text-align: justify;
    }
}