.manage-specialty-container{
    padding: 0 15px;
    .manage-specialty-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
    }

    .button-save{
        margin-top: 10px;
    }
}